<div class="container">
  <div class="modal-header">
    <h4 class="modal-title w-100" id="myModalLabel">Sign-in to tweet markdown</h4>
  </div>
  <div class="modal-body text-center">
    <%= link_to user_twitter_omniauth_authorize_path do %>
      <%= image_tag '/sign-in-with-twitter-gray.png' %>
    <% end %>
  </div>
</div>
